.home_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  &:hover .ustoz{
      box-shadow: 10px 10px 40px 10px rgb(22, 22, 22);
    }
}

.ustoz{
    transition: all 0.5s;

}

.home_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.home_h1 {
  color: #3d3d3d;
  text-align: center;
  margin-bottom: 30px;
  font-family: Source Sans Pro;
  font-size: 52px;
  font-weight: 900;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
}
